<div id="jscomments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname  = '{{ page.header.jscomments.account|default('')|e }}'; // required: replace example with your forum shortname
    var disqus_title      = '{{ page.header.jscomments.title|default(page.title)|e }}';
    var disqus_developer  = '{{ page.header.jscomments.developer|default('false')|e }}'; // developer mode
    var disqus_identifier = '{{ page.header.jscomments.id|default(page.url(true))|e }}';
    var disqus_url        = '{{ page.header.jscomments.url|default(page.url(true))|e }}';
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">Blog Comments Powered by <span class="logo-disqus">Disqus</span></a>
</div>
